<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Muhammad Utsman on 9/28/19 6:25 AM
  ~ Copyright (c) 2019 . All rights reserved.
  ~ Last modified 9/28/19 2:12 AM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utsman.googlemapskece">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDW1AJRJaJqYW0TV2COEfzi6YpgKJcByyE"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>